In [1]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
# URL of the webpage containing the links to CSV files
url = "http://insideairbnb.com/get-the-data/"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content of the webpage
    soup = BeautifulSoup(response.content, "html.parser")

    # Find all links in the webpage
    links = soup.find_all("a")

    # List to store all the listings for USA.
    usa_listings = []

    # Iterate through the links
    for link in links:
        href = link.get("href")
        if href and ("united-states" in href) and href.endswith("listings.csv.gz"):
            usa_listings.append(href)
else:
    print("Failed to fetch webpage")

In [3]:
len(usa_listings) # Links for listings data for 34 cities in USA.

34

In [4]:
usa_listings[:5] # Links where the files are stored.

['https://data.insideairbnb.com/united-states/ny/albany/2024-03-10/data/listings.csv.gz',
 'https://data.insideairbnb.com/united-states/nc/asheville/2023-12-18/data/listings.csv.gz',
 'https://data.insideairbnb.com/united-states/tx/austin/2023-12-15/data/listings.csv.gz',
 'https://data.insideairbnb.com/united-states/ma/boston/2023-12-18/data/listings.csv.gz',
 'https://data.insideairbnb.com/united-states/mt/bozeman/2024-03-19/data/listings.csv.gz']

In [5]:
# Load the data for cities.
city_data = []

for listing in tqdm(usa_listings):
  df = pd.read_csv(listing)
  df["link"] = listing
  city_data.append(df)

 15%|█▍        | 5/34 [00:02<00:12,  2.38it/s]C:\Users\fredl\AppData\Local\Temp\ipykernel_53240\438877119.py:5: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(listing)
100%|██████████| 34/34 [00:16<00:00,  2.02it/s]

In [6]:
# Concatenate all the cities data to create a single dataframe.
usa_data = pd.concat(city_data)
display(usa_data.head())
print(f"Dataset Shape: {usa_data.shape}")

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,link
0,1489424,https://www.airbnb.com/rooms/1489424,20240310234900,2024-03-10,city scrape,"Welcoming, easygoing, comfy bed, entire level","Queen size bed, extra comfy mattress, with acc...",Quiet yet convenient.,https://a0.muscache.com/pictures/21977748/1dc8...,5294164,...,4.82,4.81,NaN,f,1,0,1,0,1.94,https://data.insideairbnb.com/united-states/ny...
1,2992450,https://www.airbnb.com/rooms/2992450,20240310234900,2024-03-11,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,3.22,3.67,NaN,f,1,1,0,0,0.08,https://data.insideairbnb.com/united-states/ny...
2,3820211,https://www.airbnb.com/rooms/3820211,20240310234900,2024-03-11,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.82,4.78,NaN,f,4,4,0,0,2.51,https://data.insideairbnb.com/united-states/ny...
3,5651579,https://www.airbnb.com/rooms/5651579,20240310234900,2024-03-11,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.79,4.64,NaN,f,2,1,1,0,3.13,https://data.insideairbnb.com/united-states/ny...
4,6623339,https://www.airbnb.com/rooms/6623339,20240310234900,2024-03-11,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.72,NaN,f,4,4,0,0,2.87,https://data.insideairbnb.com/united-states/ny...

Dataset Shape: (288465, 76)

In [7]:
listings = usa_data.copy()
listings.reset_index(drop=True, inplace=True)
listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,link
0,1489424,https://www.airbnb.com/rooms/1489424,20240310234900,2024-03-10,city scrape,"Welcoming, easygoing, comfy bed, entire level","Queen size bed, extra comfy mattress, with acc...",Quiet yet convenient.,https://a0.muscache.com/pictures/21977748/1dc8...,5294164,...,4.82,4.81,NaN,f,1,0,1,0,1.94,https://data.insideairbnb.com/united-states/ny...
1,2992450,https://www.airbnb.com/rooms/2992450,20240310234900,2024-03-11,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,3.22,3.67,NaN,f,1,1,0,0,0.08,https://data.insideairbnb.com/united-states/ny...
2,3820211,https://www.airbnb.com/rooms/3820211,20240310234900,2024-03-11,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.82,4.78,NaN,f,4,4,0,0,2.51,https://data.insideairbnb.com/united-states/ny...
3,5651579,https://www.airbnb.com/rooms/5651579,20240310234900,2024-03-11,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.79,4.64,NaN,f,2,1,1,0,3.13,https://data.insideairbnb.com/united-states/ny...
4,6623339,https://www.airbnb.com/rooms/6623339,20240310234900,2024-03-11,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.72,NaN,f,4,4,0,0,2.87,https://data.insideairbnb.com/united-states/ny...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288460,1047064894296117631,https://www.airbnb.com/rooms/1047064894296117631,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,"This furnished rental is situated in Shaw, a h...",https://a0.muscache.com/pictures/prohost-api/H...,107434423,...,NaN,NaN,NaN,f,234,234,0,0,NaN,https://data.insideairbnb.com/united-states/dc...
288461,1047730533367174366,https://www.airbnb.com/rooms/1047730533367174366,20231218032619,2023-12-18,city scrape,Home in Washington · ★New · 1 bedroom · 1 bed ...,NaN,Petworth,https://a0.muscache.com/pictures/e9e7aaa1-ca9f...,437660791,...,NaN,NaN,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...
288462,1047772826607759074,https://www.airbnb.com/rooms/1047772826607759074,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,437660791,...,NaN,NaN,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...
288463,1047777612294831826,https://www.airbnb.com/rooms/1047777612294831826,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,NaN,https://a0.muscache.com/pictures/3a57db34-796d...,437660791,...,NaN,NaN,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...
288464,1047931080098470138,https://www.airbnb.com/rooms/1047931080098470138,20231218032619,2023-12-18,city scrape,Bed and breakfast in Washington · ★New · 2 bed...,NaN,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,350603487,...,NaN,NaN,Exempt,t,3,0,3,0,NaN,https://data.insideairbnb.com/united-states/dc...

In [8]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288465 entries, 0 to 288464
Data columns (total 76 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   id                                            288465 non-null  int64
 1   listing_url                                   288465 non-null  object
 2   scrape_id                                     288465 non-null  int64
 3   last_scraped                                  288465 non-null  object
 4   source                                        288465 non-null  object
 5   name                                          288463 non-null  object
 6   description                                   92385 non-null   object
 7   neighborhood_overview                         175042 non-null  object
 8   picture_url                                   288463 non-null  object
 9   host_id                                       288465 non-null  int64
 10  host_url                                      288465 non-null  object
 11  host_name                                     288431 non-null  object
 12  host_since                                    288431 non-null  object
 13  host_location                                 223971 non-null  object
 14  host_about                                    171694 non-null  object
 15  host_response_time                            233797 non-null  object
 16  host_response_rate                            233797 non-null  object
 17  host_acceptance_rate                          247376 non-null  object
 18  host_is_superhost                             287248 non-null  object
 19  host_thumbnail_url                            288431 non-null  object
 20  host_picture_url                              288431 non-null  object
 21  host_neighbourhood                            229685 non-null  object
 22  host_listings_count                           288431 non-null  float64
 23  host_total_listings_count                     288431 non-null  float64
 24  host_verifications                            288431 non-null  object
 25  host_has_profile_pic                          288431 non-null  object
 26  host_identity_verified                        288431 non-null  object
 27  neighbourhood                                 175045 non-null  object
 28  neighbourhood_cleansed                        287537 non-null  object
 29  neighbourhood_group_cleansed                  130680 non-null  object
 30  latitude                                      288465 non-null  float64
 31  longitude                                     288465 non-null  float64
 32  property_type                                 288465 non-null  object
 33  room_type                                     288465 non-null  object
 34  accommodates                                  288465 non-null  int64
 35  bathrooms                                     74748 non-null   float64
 36  bathrooms_text                                288102 non-null  object
 37  bedrooms                                      88188 non-null   float64
 38  beds                                          265828 non-null  float64
 39  amenities                                     288465 non-null  object
 40  price                                         258978 non-null  object
 41  minimum_nights                                288465 non-null  int64
 42  maximum_nights                                288465 non-null  int64
 43  minimum_minimum_nights                        288460 non-null  float64
 44  maximum_minimum_nights                        288460 non-null  float64
 45  minimum_maximum_nights                        288460 non-null  float64
 46  maximum_maximum_nights                        288460 non-null  float64
 47  minimum_nights_avg_ntm                        288460 non-null  float64
 48  maximum_nights_avg_ntm                        288460 non-null  float64
 49  calendar_updated                              0 non-null       float64
 50  has_availability                              261066 non-null  object
 51  availability_30                               288465 non-null  int64
 52  availability_60                               288465 non-null  int64
 53  availability_90                               288465 non-null  int64
 54  availability_365                              288465 non-null  int64
 55  calendar_last_scraped                         288465 non-null  object
 56  number_of_reviews                             288465 non-null  int64
 57  number_of_reviews_ltm                         288465 non-null  int64
 58  number_of_reviews_l30d                        288465 non-null  int64
 59  first_review                                  222336 non-null  object
 60  last_review                                   222336 non-null  object
 61  review_scores_rating                          222464 non-null  float64
 62  review_scores_accuracy                        222372 non-null  float64
 63  review_scores_cleanliness                     222383 non-null  float64
 64  review_scores_checkin                         222348 non-null  float64
 65  review_scores_communication                   222379 non-null  float64
 66  review_scores_location                        222344 non-null  float64
 67  review_scores_value                           222340 non-null  float64
 68  license                                       101407 non-null  object
 69  instant_bookable                              288465 non-null  object
 70  calculated_host_listings_count                288465 non-null  int64
 71  calculated_host_listings_count_entire_homes   288465 non-null  int64
 72  calculated_host_listings_count_private_rooms  288465 non-null  int64
 73  calculated_host_listings_count_shared_rooms   288465 non-null  int64
 74  reviews_per_month                             222336 non-null  float64
 75  link                                          288465 non-null  object
dtypes: float64(22), int64(17), object(37)
memory usage: 167.3+ MB

In [9]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'link'],
      dtype='object')

In [10]:
listings.iloc[0].values

array([1489424, 'https://www.airbnb.com/rooms/1489424', 20240310234900,
       '2024-03-10', 'city scrape',
       'Welcoming, easygoing, comfy bed, entire level',
       'Queen size bed, extra comfy mattress, with access to a private bathroom with shower. A single bed is also available in that room. You will have an entire level of the house to yourself. The large, well-lit room is located in our furnished basement. Central A/C, wi-fi. One mile to UAlbany and College of St. Rose. 35 minutes to Saratoga tracks and SPAC. An hour to mountains. Quiet dead-end street with ample on-street parking.  Equipped kitchen for your use. Hi-def cable tv',
       'Quiet yet convenient.',
       'https://a0.muscache.com/pictures/21977748/1dc80cd7_original.jpg',
       5294164, 'https://www.airbnb.com/users/show/5294164', 'Efrat',
       '2013-03-02', 'Albany, NY',
       'I am originally from Brooklyn, New York. As an adult I have lived in both the U.S. and Israel. I am on faculty at Empire State College. My husband, Dan, works for NY State as a researcher on prison population issues. Our three daughters are young adults and scattered in various locations. We have hosted several exchange students from Europe, South America and Asia and our house was always full of young people when our daughters were younger. We are relaxed and welcoming hosts.',
       'within an hour', '100%', '87%', 'f',
       'https://a0.muscache.com/im/users/5294164/profile_pic/1375754135/original.jpg?aki_policy=profile_small',
       'https://a0.muscache.com/im/users/5294164/profile_pic/1375754135/original.jpg?aki_policy=profile_x_medium',
       nan, 1.0, 2.0, "['email', 'phone']", 't', 't',
       'Albany, New York, United States', 'FOURTEENTH WARD', nan,
       42.66719, -73.8158, 'Private room in home', 'Private room', 2, 1.0,
       '1 private bath', 1.0, 1.0,
       '["Microwave", "Smoke alarm", "Cooking basics", "Essentials", "Free street parking", "Dishes and silverware", "Fire extinguisher", "Dryer", "Heating", "Dedicated workspace", "Free parking on premises", "First aid kit", "Wifi", "Hot water", "Carbon monoxide alarm", "Kitchen", "Backyard", "Lock on bedroom door", "Dishwasher", "Shampoo", "Central air conditioning", "Host greets you", "Oven", "Free washer \\u2013 In unit", "Coffee maker", "Refrigerator", "TV with standard cable", "Stove"]',
       '$50.00', 1, 1125, 1.0, 1.0, 1125.0, 1125.0, 1.0, 1125.0, nan, 't',
       10, 32, 32, 233, '2024-03-10', 248, 50, 6, '2013-09-10',
       '2024-02-27', 4.75, 4.83, 4.57, 4.92, 4.92, 4.82, 4.81, nan, 'f',
       1, 0, 1, 0, 1.94,
       'https://data.insideairbnb.com/united-states/ny/albany/2024-03-10/data/listings.csv.gz'],
      dtype=object)

In [11]:
listings["City"] = listings["link"].apply(lambda x: x.split('/')[5])
listings["State"] = listings["link"].apply(lambda x: x.split('/')[4])
display(listings[["host_location", "City", "State"]].head())
display(listings[["host_location", "City", "State"]].tail())

  host_location    City State
0    Albany, NY  albany    ny
1  New York, NY  albany    ny
2           NaN  albany    ny
3    Albany, NY  albany    ny
4           NaN  albany    ny

         host_location           City State
288460    New York, NY  washington-dc    dc
288461             NaN  washington-dc    dc
288462             NaN  washington-dc    dc
288463             NaN  washington-dc    dc
288464  Washington, DC  washington-dc    dc

In [12]:
listings["id"].nunique()

288464

In [13]:
listings["id"].value_counts()

id
1398981                2
1489424                1
20435714               1
780367558387044721     1
21709727               1
                      ..
48508033               1
48523071               1
46585185               1
9979535                1
1047931080098470138    1
Name: count, Length: 288464, dtype: int64

In [14]:
print(listings.shape)
listings = listings.drop_duplicates(subset="id").reset_index(drop=True)
print(listings.shape)

(288465, 78)
(288464, 78)

In [15]:
listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,link,City,State
0,1489424,https://www.airbnb.com/rooms/1489424,20240310234900,2024-03-10,city scrape,"Welcoming, easygoing, comfy bed, entire level","Queen size bed, extra comfy mattress, with acc...",Quiet yet convenient.,https://a0.muscache.com/pictures/21977748/1dc8...,5294164,...,NaN,f,1,0,1,0,1.94,https://data.insideairbnb.com/united-states/ny...,albany,ny
1,2992450,https://www.airbnb.com/rooms/2992450,20240310234900,2024-03-11,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,NaN,f,1,1,0,0,0.08,https://data.insideairbnb.com/united-states/ny...,albany,ny
2,3820211,https://www.airbnb.com/rooms/3820211,20240310234900,2024-03-11,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,NaN,f,4,4,0,0,2.51,https://data.insideairbnb.com/united-states/ny...,albany,ny
3,5651579,https://www.airbnb.com/rooms/5651579,20240310234900,2024-03-11,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,NaN,f,2,1,1,0,3.13,https://data.insideairbnb.com/united-states/ny...,albany,ny
4,6623339,https://www.airbnb.com/rooms/6623339,20240310234900,2024-03-11,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,NaN,f,4,4,0,0,2.87,https://data.insideairbnb.com/united-states/ny...,albany,ny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288459,1047064894296117631,https://www.airbnb.com/rooms/1047064894296117631,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,"This furnished rental is situated in Shaw, a h...",https://a0.muscache.com/pictures/prohost-api/H...,107434423,...,NaN,f,234,234,0,0,NaN,https://data.insideairbnb.com/united-states/dc...,washington-dc,dc
288460,1047730533367174366,https://www.airbnb.com/rooms/1047730533367174366,20231218032619,2023-12-18,city scrape,Home in Washington · ★New · 1 bedroom · 1 bed ...,NaN,Petworth,https://a0.muscache.com/pictures/e9e7aaa1-ca9f...,437660791,...,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...,washington-dc,dc
288461,1047772826607759074,https://www.airbnb.com/rooms/1047772826607759074,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,437660791,...,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...,washington-dc,dc
288462,1047777612294831826,https://www.airbnb.com/rooms/1047777612294831826,20231218032619,2023-12-18,city scrape,Rental unit in Washington · ★New · 1 bedroom ·...,NaN,NaN,https://a0.muscache.com/pictures/3a57db34-796d...,437660791,...,Exempt,t,28,6,22,0,NaN,https://data.insideairbnb.com/united-states/dc...,washington-dc,dc
288463,1047931080098470138,https://www.airbnb.com/rooms/1047931080098470138,20231218032619,2023-12-18,city scrape,Bed and breakfast in Washington · ★New · 2 bed...,NaN,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,350603487,...,Exempt,t,3,0,3,0,NaN,https://data.insideairbnb.com/united-states/dc...,washington-dc,dc

In [16]:
#listings["host_id"].nunique()

In [17]:
#listings["host_id"].value_counts()

In [18]:
#listings["property_type"].value_counts()

In [19]:
#listings["room_type"].value_counts()

In [20]:
#listings["instant_bookable"].value_counts()

In [21]:
"""starter_columns = ['id', 'host_id', 'host_since', 'host_location','host_response_time', 'host_response_rate', 'host_acceptance_rate',
                  'host_is_superhost', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications',
                  'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
                  'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
                  'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy',
                  'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location',
                  'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes',
                  'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
                  'City', 'State']

len(starter_columns)"""

"starter_columns = ['id', 'host_id', 'host_since', 'host_location','host_response_time', 'host_response_rate', 'host_acceptance_rate',\n                  'host_is_superhost', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications',\n                  'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed',\n                  'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',\n                  'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy',\n                  'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location',\n                  'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes',\n                  'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month',\n                  'City', 'State']\n\nlen(starter_columns)"

In [22]:
#trimmed_listings = listings[starter_columns]
#trimmed_listings.info()

In [23]:
#listings["bedrooms"].value_counts()

In [24]:
#listings.iloc[0].values

In [25]:
#listings.columns

In [26]:
#starter_listings = trimmed_listings.query("calculated_host_listings_count == 1").reset_index(drop = True)
#starter_listings.info()

In [27]:
#starter_listings.query("number_of_reviews == 0")

# Questions to answer

In [28]:
# Compare cancellation policy in terms of price, rating, and number of listings.
# A metric of plots that compare super host and regular host in terms of price, review score, availability(percentage of booked dates in a year)
# How does managing multiple listings affect the review scores, occupancy
# How have prices changed over the past year in relation to the number of reviews a listing has received in the last 12 months?
# Is there a relationship between the length of the name for a listing and its occupancy
# Does host_response_rate, host_response_time, and host_acceptance_rate have an impact on the price and ratings?
# How can host verification affect other variables?

# Creat a starter dataset

In [29]:
starter_columns = ['id', 'host_id','host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_identity_verified', 'neighbourhood_cleansed',
                  'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'number_of_reviews', 'number_of_reviews_ltm',
                  'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
                  'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month', 'City', 'State']

len(starter_columns)

32

In [30]:
trimmed_listings = listings[starter_columns]
trimmed_listings.shape

(288464, 32)

In [45]:
#Calculate percent of missing values in each column
count_missing_value = trimmed_listings.isna().sum()
total_rows = len(trimmed_listings)
percent_missing = (count_missing_value / total_rows) * 100
print(percent_missing)
#Remove column with more than 20% missing values
keep_col = percent_missing[percent_missing < 20].index
listing_filter = trimmed_listings[keep_col]
col_removed = len(trimmed_listings.columns) - len(listing_filter.columns)
print(f"The number of features removed: {col_removed}")
trimmed_listings = listing_filter
trimmed_listings['review_scores_rating'] = listings['review_scores_rating']
trimmed_listings['reviews_per_month'] = listings['reviews_per_month']

id                                 0.000000
host_id                            0.000000
host_response_time                18.951412
host_response_rate                18.951412
host_acceptance_rate              14.244065
host_is_superhost                  0.421890
host_identity_verified             0.011787
neighbourhood_cleansed             0.321704
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
accommodates                       0.000000
bathrooms_text                     0.125839
beds                               7.847426
amenities                          0.000000
price                             10.222073
number_of_reviews                  0.000000
number_of_reviews_ltm              0.000000
number_of_reviews_l30d             0.000000
instant_bookable                   0.000000
calculated_host_listings_count     0.000000
City                               0.000000
State                              0.000000
dtype: float64
The number of features removed: 0

In [46]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'link', 'City', 'State'],
      dtype='object')

In [47]:
listings.iloc[111].values

array([48172884, 'https://www.airbnb.com/rooms/48172884', 20240310234900,
       '2024-03-11', 'city scrape', 'The Down Under Suite',
       'This home is a gorgeous 100 year old Victorian<br />This suite is located on the 2nd floor. All the comforts of home! A very clean and quiet setting makes for a comfortable stay here at the Inn. Perfect for the business traveler or Traveling nurses that have contracts with one of the local hospitals located minutes away.',
       nan,
       'https://a0.muscache.com/pictures/ff01b559-730a-4974-8502-8f5391aa1fe0.jpg',
       98744672, 'https://www.airbnb.com/users/show/98744672', 'Bela',
       '2016-10-08', 'Albany, NY',
       'My name is Bela Schuch, I am manager of The Inn at South Lake  here in Albany , we hope you enjoy your stay with us at the Inn Thank you !',
       'within an hour', '100%', '96%', 't',
       'https://a0.muscache.com/im/pictures/user/eccd4f9b-870c-4c2b-ae97-3fb7f5feb710.jpg?aki_policy=profile_small',
       'https://a0.muscache.com/im/pictures/user/eccd4f9b-870c-4c2b-ae97-3fb7f5feb710.jpg?aki_policy=profile_x_medium',
       'Pine Hills', 8.0, 14.0, "['email', 'phone', 'work_email']", 't',
       't', nan, 'NINTH WARD', nan, 42.65399, -73.78126,
       'Private room in home', 'Private room', 1, 1.0, '1 shared bath',
       1.0, 1.0,
       '["Wine glasses", "Iron", "Smoke alarm", "Cooking basics", "Essentials", "Free street parking", "Dishes and silverware", "Hair dryer", "Keypad", "Heating", "Self check-in", "Dedicated workspace", "Free parking on premises", "First aid kit", "Wifi", "Washer", "Hot water", "Carbon monoxide alarm", "Mini fridge", "Dryer \\u2013 In building", "Kitchen", "Hangers", "Shampoo", "Window AC unit", "Coffee maker: Keurig coffee machine", "Outdoor furniture", "Conditioner", "Refrigerator", "Patio or balcony", "Long term stays allowed", "Cleaning products", "Pocket wifi", "Bed linens"]',
       '$45.00', 2, 180, 2.0, 2.0, 1125.0, 1125.0, 2.0, 1125.0, nan, 't',
       0, 0, 0, 0, '2024-03-11', 51, 23, 2, '2021-03-05', '2024-02-28',
       4.92, 4.98, 4.98, 4.88, 4.96, 4.84, 4.92, nan, 'f', 8, 2, 6, 0,
       1.39,
       'https://data.insideairbnb.com/united-states/ny/albany/2024-03-10/data/listings.csv.gz',
       'albany', 'ny'], dtype=object)

In [48]:
starter_listings_df = trimmed_listings.query("calculated_host_listings_count == 1").reset_index(drop = True)
starter_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103643 entries, 0 to 103642
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103643 non-null  int64
 1   host_id                         103643 non-null  int64
 2   host_response_time              63364 non-null   object
 3   host_response_rate              63364 non-null   object
 4   host_acceptance_rate            72649 non-null   object
 5   host_is_superhost               103416 non-null  object
 6   host_identity_verified          103614 non-null  object
 7   neighbourhood_cleansed          103236 non-null  object
 8   latitude                        103643 non-null  float64
 9   longitude                       103643 non-null  float64
 10  room_type                       103643 non-null  object
 11  accommodates                    103643 non-null  int64
 12  bathrooms_text                  103595 non-null  object
 13  beds                            90292 non-null   float64
 14  amenities                       103643 non-null  object
 15  price                           85604 non-null   object
 16  number_of_reviews               103643 non-null  int64
 17  number_of_reviews_ltm           103643 non-null  int64
 18  number_of_reviews_l30d          103643 non-null  int64
 19  instant_bookable                103643 non-null  object
 20  calculated_host_listings_count  103643 non-null  int64
 21  City                            103643 non-null  object
 22  State                           103643 non-null  object
 23  review_scores_rating            82330 non-null   float64
 24  reviews_per_month               82296 non-null   float64
dtypes: float64(5), int64(7), object(13)
memory usage: 19.8+ MB

In [35]:
#starter_listings_df.describe()

# Data Preprocessing

In [36]:
starter_listings_df["host_response_time"].value_counts()

host_response_time
within an hour        45407
within a few hours     9327
within a day           6298
a few days or more     2332
Name: count, dtype: int64

## Modify the columns and their dtypes based on their values

In [37]:
# change host_response_time from categorical to numerical. Mapping  1, 2, 3, 4 - from fastest response to late response.
response_time_map = {"within an hour": 1,
                     "within a few hours": 2,
                     "within a day": 3,
                     "a few days or more": 4}

starter_listings_df["host_response_time"] = starter_listings_df["host_response_time"].map(response_time_map).astype("category")

In [38]:
# Convert host_response_rate, host_acceptance_rate columns from strings to numerical.

starter_listings_df["host_response_rate"] = starter_listings_df["host_response_rate"].apply(lambda x: int(x[:-1]) if isinstance(x, str) else x)
starter_listings_df["host_acceptance_rate"] = starter_listings_df["host_acceptance_rate"].apply(lambda x: int(x[:-1]) if isinstance(x, str) else x)
starter_listings_df["host_is_superhost"] = starter_listings_df["host_is_superhost"].apply(lambda x: 0 if x == 'f' else 1).astype("category")
starter_listings_df["host_identity_verified"] = starter_listings_df["host_identity_verified"].apply(lambda x: 0 if x == 'f' else 1).astype("category")
starter_listings_df["amenities"] = starter_listings_df["amenities"].apply(lambda x: len(eval(x)))
starter_listings_df["price"] = starter_listings_df["price"].apply(lambda x: float(''.join(x[1:].split(','))) if isinstance(x, str) else x)
starter_listings_df["instant_bookable"] = starter_listings_df["instant_bookable"].apply(lambda x: 0 if x == 'f' else 1).astype("category")

starter_listings_df["neighbourhood_cleansed"] = starter_listings_df["neighbourhood_cleansed"].astype("category")
starter_listings_df["room_type"] = starter_listings_df["room_type"].astype("category")
starter_listings_df["City"] = starter_listings_df["City"].astype("category")
starter_listings_df["State"] = starter_listings_df["State"].astype("category")

starter_listings_df.drop(["bathrooms_text"], axis = 1, inplace = True)
starter_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103643 entries, 0 to 103642
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103643 non-null  int64
 1   host_id                         103643 non-null  int64
 2   host_response_time              63364 non-null   category
 3   host_response_rate              63364 non-null   float64
 4   host_acceptance_rate            72649 non-null   float64
 5   host_is_superhost               103643 non-null  category
 6   host_identity_verified          103643 non-null  category
 7   neighbourhood_cleansed          103236 non-null  category
 8   latitude                        103643 non-null  float64
 9   longitude                       103643 non-null  float64
 10  room_type                       103643 non-null  category
 11  accommodates                    103643 non-null  int64
 12  beds                            90292 non-null   float64
 13  amenities                       103643 non-null  int64
 14  price                           85604 non-null   float64
 15  number_of_reviews               103643 non-null  int64
 16  number_of_reviews_ltm           103643 non-null  int64
 17  number_of_reviews_l30d          103643 non-null  int64
 18  instant_bookable                103643 non-null  category
 19  calculated_host_listings_count  103643 non-null  int64
 20  City                            103643 non-null  category
 21  State                           103643 non-null  category
dtypes: category(8), float64(6), int64(8)
memory usage: 12.0 MB

In [39]:
num_cols = starter_listings_df.select_dtypes(include=['float64', 'int64']).columns
cat_cols = starter_listings_df.select_dtypes(include=['category']).columns

num_cols, cat_cols, len(num_cols), len(cat_cols)

(Index(['id', 'host_id', 'host_response_rate', 'host_acceptance_rate',
        'latitude', 'longitude', 'accommodates', 'beds', 'amenities', 'price',
        'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
        'calculated_host_listings_count'],
       dtype='object'),
 Index(['host_response_time', 'host_is_superhost', 'host_identity_verified',
        'neighbourhood_cleansed', 'room_type', 'instant_bookable', 'City',
        'State'],
       dtype='object'),
 14,
 8)

In [40]:
starter_listings_df[num_cols].describe()

,id,host_id,host_response_rate,host_acceptance_rate,latitude,longitude,accommodates,beds,amenities,price,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count
count,1.036430e+05,1.036430e+05,63364.000000,72649.000000,103643.000000,103643.000000,103643.000000,90292.000000,103643.000000,85604.000000,103643.000000,103643.000000,103643.000000,103643.0
mean,3.188882e+17,1.540407e+08,94.929976,86.716362,35.959387,-101.557123,4.082379,2.354494,18.911311,244.723132,48.163320,11.163928,0.651448,1.0
std,4.106909e+17,1.681129e+08,18.567968,25.754997,6.265190,23.578211,2.642446,1.755785,21.807653,798.952205,89.275152,18.294544,1.456931,0.0
min,6.000000e+00,2.900000e+01,0.000000,0.000000,19.021538,-159.714280,1.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,1.0
25%,2.136894e+07,1.966167e+07,100.000000,88.000000,32.806445,-118.390784,2.000000,1.000000,0.000000,99.000000,1.000000,0.000000,0.000000,1.0
50%,4.771948e+07,7.584218e+07,100.000000,99.000000,36.178007,-97.755370,4.000000,2.000000,11.000000,150.000000,11.000000,2.000000,0.000000,1.0
75%,7.525364e+17,2.530731e+08,100.000000,100.000000,40.716322,-77.029130,6.000000,3.000000,36.000000,250.000000,54.000000,16.000000,1.000000,1.0
max,1.116753e+18,5.677585e+08,100.000000,100.000000,47.734087,-70.996000,16.000000,132.000000,116.000000,100000.000000,1478.000000,975.000000,146.000000,1.0

In [41]:
starter_listings_df[cat_cols].describe()

,host_response_time,host_is_superhost,host_identity_verified,neighbourhood_cleansed,room_type,instant_bookable,City,State
count,63364.0,103643,103643,103236,103643,103643,103643,103643
unique,4.0,2,2,1454,4,2,34,20
top,1.0,0,1,Unincorporated Areas,Entire home/apt,0,new-york-city,ca
freq,45407.0,68865,85391,3698,81610,84761,19753,29903

## Handling Missing values.

### Simple Imputation with Mean and Model

In [42]:
simple_imputed_df = starter_listings_df.copy()

simple_imputed_df[num_cols] = simple_imputed_df[num_cols].fillna(simple_imputed_df[num_cols].mean())
simple_imputed_df[cat_cols] = simple_imputed_df[cat_cols].fillna(simple_imputed_df[cat_cols].mode().iloc[0])

simple_imputed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103643 entries, 0 to 103642
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103643 non-null  int64
 1   host_id                         103643 non-null  int64
 2   host_response_time              103643 non-null  category
 3   host_response_rate              103643 non-null  float64
 4   host_acceptance_rate            103643 non-null  float64
 5   host_is_superhost               103643 non-null  category
 6   host_identity_verified          103643 non-null  category
 7   neighbourhood_cleansed          103643 non-null  category
 8   latitude                        103643 non-null  float64
 9   longitude                       103643 non-null  float64
 10  room_type                       103643 non-null  category
 11  accommodates                    103643 non-null  int64
 12  beds                            103643 non-null  float64
 13  amenities                       103643 non-null  int64
 14  price                           103643 non-null  float64
 15  number_of_reviews               103643 non-null  int64
 16  number_of_reviews_ltm           103643 non-null  int64
 17  number_of_reviews_l30d          103643 non-null  int64
 18  instant_bookable                103643 non-null  category
 19  calculated_host_listings_count  103643 non-null  int64
 20  City                            103643 non-null  category
 21  State                           103643 non-null  category
dtypes: category(8), float64(6), int64(8)
memory usage: 12.0 MB

### Imputation using a Model

In [ ]:
from sklearn.ensemble import HistGradientBoostingRegressor, HistGradientBoostingClassifier

# Select the columns with missing values
num_cols_missing = ['host_response_rate', 'host_acceptance_rate','beds', 'price', 'review_scores_rating', 'review_scores_accuracy','review_scores_cleanliness',
                    'review_scores_checkin', 'review_scores_communication', 'review_scores_location','review_scores_value', 'reviews_per_month', 'bathrooms']

cat_cols_missing = ["host_response_time"]

model_imputed_df = starter_listings_df.copy()

# Impute missing values for each numerical column using Histogram based Gradient Boosting Regressor
for col in tqdm(num_cols_missing):
    # Create a copy of the data with no missing values in the current column
    train_df = model_imputed_df[model_imputed_df[col].notnull()]
    X_train = train_df.drop([col, "neighbourhood_cleansed"], axis=1)
    X_train = pd.get_dummies(X_train, columns=['host_response_time', 'room_type', 'City', 'State'])
    y_train = train_df[col]

    # Build model
    hgbr_regressor = HistGradientBoostingRegressor()
    hgbr_regressor.fit(X_train, y_train)

    # Impute missing values
    X_test = model_imputed_df[model_imputed_df[col].isnull()].drop([col, "neighbourhood_cleansed"], axis=1)
    X_test = pd.get_dummies(X_test, columns=['host_response_time', 'room_type', 'City', 'State'])
    imputed_values = hgbr_regressor.predict(X_test)
    model_imputed_df.loc[model_imputed_df[col].isnull(), col] = imputed_values

100%|██████████| 13/13 [00:56<00:00,  4.38s/it]

In [ ]:
# Impute missing values for host_response_time column using Histogram based Gradient Boosting Classifier

col = cat_cols_missing[0]
train_df = model_imputed_df[model_imputed_df[col].notnull()]
X_train = train_df.drop([col, "neighbourhood_cleansed"], axis=1)
X_train = pd.get_dummies(X_train, columns=['room_type', 'City', 'State'])
y_train = train_df[col]

# Build model
hgbr_classifier = HistGradientBoostingClassifier()
hgbr_classifier.fit(X_train, y_train)

# Impute missing values
X_test = model_imputed_df[model_imputed_df[col].isnull()].drop([col, "neighbourhood_cleansed"], axis=1)
X_test = pd.get_dummies(X_test, columns=['room_type', 'City', 'State'])
imputed_values = hgbr_classifier.predict(X_test)
model_imputed_df.loc[model_imputed_df[col].isnull(), col] = imputed_values

In [ ]:
model_imputed_df["neighbourhood_cleansed"] = model_imputed_df["neighbourhood_cleansed"].fillna(model_imputed_df["neighbourhood_cleansed"].mode().iloc[0])
model_imputed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103643 entries, 0 to 103642
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103643 non-null  int64
 1   host_id                         103643 non-null  int64
 2   host_response_time              103643 non-null  category
 3   host_response_rate              103643 non-null  float64
 4   host_acceptance_rate            103643 non-null  float64
 5   host_is_superhost               103643 non-null  category
 6   host_identity_verified          103643 non-null  category
 7   neighbourhood_cleansed          103643 non-null  category
 8   latitude                        103643 non-null  float64
 9   longitude                       103643 non-null  float64
 10  room_type                       103643 non-null  category
 11  accommodates                    103643 non-null  int64
 12  beds                            103643 non-null  float64
 13  amenities                       103643 non-null  int64
 14  price                           103643 non-null  float64
 15  number_of_reviews               103643 non-null  int64
 16  number_of_reviews_ltm           103643 non-null  int64
 17  number_of_reviews_l30d          103643 non-null  int64
 18  review_scores_rating            103643 non-null  float64
 19  review_scores_accuracy          103643 non-null  float64
 20  review_scores_cleanliness       103643 non-null  float64
 21  review_scores_checkin           103643 non-null  float64
 22  review_scores_communication     103643 non-null  float64
 23  review_scores_location          103643 non-null  float64
 24  review_scores_value             103643 non-null  float64
 25  instant_bookable                103643 non-null  category
 26  calculated_host_listings_count  103643 non-null  int64
 27  reviews_per_month               103643 non-null  float64
 28  City                            103643 non-null  category
 29  State                           103643 non-null  category
 30  bathrooms                       103643 non-null  float64
dtypes: category(8), float64(15), int64(8)
memory usage: 19.1 MB